.addHeader{
    display: flex;
    position: fixed;
    top: 0px;
    background-color : black;
    width: 100%;
    height: 50px;
}
.addNavName{
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    display: flex;
    align-items: center;
    color:white;
}
.addone{
    margin-left: 700px;
}
.cartAdded{
    width: 150px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.addIcon{
    margin-left: 10px;
}
.cartAddedTitle{
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    color:white;
}
.cartAddedNumber{
   font-size: 14px;
   font-weight: 700;
   background-color: black;
   color: white;
   border-radius: 50%;
   width: 25px;
   height: 25px; 
   margin-left: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}